/* CSS Reset
================================================== */

html,body,div,span,h1,h6,p,a,ul,li,audio {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

body { line-height:1; }
ul { list-style:none; }


/* Basic Styles
================================================== */

html,body {
-webkit-font-smoothing:antialiased;
-webkit-text-size-adjust:100%;
font-family: Arial, sans-serif;
font-weight:300;
color: #fff;
}

* {
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-tap-highlight-color:transparent;
}

#logo {
	position: absolute;
	z-index: 1000;
	width: 100px;
	height: auto;
	top: 25px;
    left: 25px;
}

.container {
	position: absolute;
    margin: auto;
    width: 600px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#mainwrap {
	background: rgba(27, 27, 27, .9);
	border-radius: 10px;
}

#audiowrap {
	display: none;
}

#background-container {
	position: absolute;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#background-image {
	width: 100%;
	height: 100%;
	filter: blur(10px);
	margin: -5px -10px -10px -5px;
	object-fit: cover;
	transform: scale(1.04);
}

#nowPlay {
	display: flex;
	align-items: center;
	padding: 50px 50px 50px 50px;
}

#npTrackTime {
	display: flex;
	padding: 0 50px 10px 50px;
	justify-content: center;
}

#currentTime,
#songLength {
	font-size: 12px;
	margin: 0 10px;
}

#currentArt {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 20px;
	margin-right: 20px;
}

#npTitle {
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}

#npArtist {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

#npLength {
	font-size: 16px;
	font-weight: 400;
}

#btns_time {
	background: #2F2F2F;
}


#tracks {
	display: flex;
    justify-content: center;
    align-items: center;
}

#songControl { 
	cursor:pointer;  
	padding: 15px 15px 15px 15px; 
}

#btnPrev,
#btnNext {
	cursor: pointer;
	margin: 0 15px;
}


#plwrap {
	margin-top: 30px;
}

.plItem {
	display: flex;
	padding: 0 50px;
}

.plSel {
	color: #FFE705;
}

.plColTitle {
	display: flex;
	padding: 0 50px;
	margin-bottom: 15px;
}

.plColTitle div {
	font-size: 12px;
	text-transform: uppercase;
	color: #D6D6D6;
}

.plItem div {
	font-size: 14px;
}

.col-3 {
	width: calc(100%/3);
}

.plLength {
	text-align: right;
	width: 10%;
}

/* Typography
================================================== */


h1 { font-size:42px; line-height:44px; margin:20px 0 0; }
h6 { font-size:18px; line-height:20px; margin:4px 0 20px; }
p { font-size:18px; line-height:20px; margin:0 0 2px; }


/* Links
================================================== */

a,a:visited { color:#ddd; outline:0; text-decoration:underline; }
p a,p a:visited { line-height:inherit; }


/* Misc.
================================================== */

.left { float:left; }
.right { float:right; }
.center { text-align:center; }


/* Custom Styles
================================================== */

/* Highlight Styles */
::selection { background-color:#262223; color:#444; }
::-moz-selection { background-color:#262223; color:#444; }


/* Audio Player Styles
================================================== */

/* Default / Desktop / Firefox */
audio { margin:0 15px 0 14px; width:670px; }
#mainwrap { /* add box-shadow or other styles here */ }
#audiowrap { margin:0 auto; padding: 0 50px;}
#plList { padding-bottom: 30px; }
#plList li { cursor:pointer; margin:0; padding:10px 0; }
#plList li:hover { background-color:#262223; }
.plSel,.plSel:hover { background-color:#262223!important; cursor:default!important; }


/* IE 9 */
html[data-useragent*="MSIE 9.0"] audio { margin-left:9px; outline:none; width:680px; }
html[data-useragent*="MSIE 9.0"] #audiowrap { background-color:#000; }
html[data-useragent*="MSIE 9.0"] #tracks { min-height:57px; top:5px; }
html[data-useragent*="MSIE 9.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="MSIE 9.0"] #plList li { background-color:#000; }
html[data-useragent*="MSIE 9.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="MSIE 9.0"] .plSel,
html[data-useragent*="MSIE 9.0"] .plSel:hover { background-color:#080808!important; }

/* IE 10 */
html[data-useragent*="MSIE 10.0"] audio { margin-left:6px; width:687px; }
html[data-useragent*="MSIE 10.0"] #audiowrap { background-color:#000; }
html[data-useragent*="MSIE 10.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="MSIE 10.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="MSIE 10.0"] #plList li { background-color:#000; }
html[data-useragent*="MSIE 10.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="MSIE 10.0"] .plSel,
html[data-useragent*="MSIE 10.0"] .plSel:hover { background-color:#080808!important; }

/* IE 11 */
html[data-useragent*="rv:11.0"] audio { margin-left:2px; width:695px; }
html[data-useragent*="rv:11.0"] #audiowrap { background-color:#000; }
html[data-useragent*="rv:11.0"] #tracks { min-height:60px; top:8px; }
html[data-useragent*="rv:11.0"] a[id^="btn"] { background-color:#000; }
html[data-useragent*="rv:11.0"] #plList li { background-color:#000; }
html[data-useragent*="rv:11.0"] #plList li:hover { background-color:#080808; }
html[data-useragent*="rv:11.0"] .plSel,
html[data-useragent*="rv:11.0"] .plSel:hover { background-color:#080808!important; }

/* All Apple Products */
html[data-useragent*="Apple"] audio { margin:0; width:100%; }
html[data-useragent*="Apple"] #plList li:hover { background-color:#080808; }
html[data-useragent*="Apple"] .plSel,
html[data-useragent*="Apple"] .plSel:hover { background-color:#080808!important; }

/* IOS 7 */
html[data-useragent*="OS 7"] audio { margin-left:3px; width:690px; }
html[data-useragent*="OS 7"] #audiowrap { background-color:#e6e6e6; }
html[data-useragent*="OS 7"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 7"] a[id^="btn"] { background-color:#e6e6e6; color:#373837; }
html[data-useragent*="OS 7"] #plList li { background-color:#e6e6e6; }
html[data-useragent*="OS 7"] #plList li:hover { background-color:#2F2F2F; }
html[data-useragent*="OS 7"] .plSel,
html[data-useragent*="OS 7"] .plSel:hover { background-color:#2F2F2F!important; }

/* IOS 8 */
html[data-useragent*="OS 8"] body { color:#373837; }
html[data-useragent*="OS 8"] audio { margin-left:6px; width:694px; }
html[data-useragent*="OS 8"] #audiowrap { background-color:#e4e4e4; }
html[data-useragent*="OS 8"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 8"] a[id^="btn"] { background-color:#e4e4e4; color:#373837; }
html[data-useragent*="OS 8"] #plList li { background-color:#e4e4e4; }
html[data-useragent*="OS 8"] #plList li:hover { background-color:#2F2F2F; }
html[data-useragent*="OS 8"] .plSel,
html[data-useragent*="OS 8"] .plSel:hover { background-color:#2F2F2F!important; }

/* IOS 9 */
html[data-useragent*="OS 9"] body { color:#373837; }
html[data-useragent*="OS 9"] audio { margin-left:6px; width:694px; }
html[data-useragent*="OS 9"] #audiowrap { background-color:#d5d5d5; }
html[data-useragent*="OS 9"] #tracks { min-height:75px; top:23px; }
html[data-useragent*="OS 9"] a[id^="btn"] { background-color:#d5d5d5; color:#373837; }
html[data-useragent*="OS 9"] #plList li { background-color:#d5d5d5; }
html[data-useragent*="OS 9"] #plList li:hover { background-color:#2F2F2F; }
html[data-useragent*="OS 9"] .plSel,
html[data-useragent*="OS 9"] .plSel:hover { background-color:#2F2F2F!important; }

/* Chrome */
html[data-useragent*="Chrome"] audio { width:500px; }
html[data-useragent*="Chrome"] #plList li:hover { background-color:#2F2F2F; }
html[data-useragent*="Chrome"] .plSel,
html[data-useragent*="Chrome"] .plSel:hover { background-color:#2F2F2F!important; }




/* Audio Player Media Queries
================================================== */

@media only screen and (max-width: 425px) {
	#logo {
		position: absolute;
		z-index: 1000;
		width: 60px;
		height: 42px;
		top: 25px;
	    left: 25px;
	}

    .container {
        width: 350px;
        height: 556px;
    }

    #npTitle {
    	font-size: 26px;
    }

    #npArtist {
		font-size: 18px;
	}

	#nowPlay {
	    padding: 20px 50px 20px 50px;
	    flex-direction: column;
	}

	#currentArt {
		width: 125px;
		height: 125px;
		margin-right: 0;
	}

	#songInfo {
		margin-top: 10px;
		text-align: center;
	}

	.plAlbum {
		display: none;
	}

	.plColTitle {
    	padding: 0 20px;
    }

    .plColTitle div {
    	font-size: 10px;
    }

    .plItem div {
	    font-size: 12px;
	}

    .plItem {
    	padding: 0 20px;
	}

	.col-3 {
		width: calc(100%/2);
	}

	.plLength {
		text-align: right;
		width: 20%;
	}

	#npTrackTime {
		padding: 0 20px 10px 20px;
	}

	#plList {
    	padding-bottom: 10px;
	}

	#currentTime {
    	margin: 0 10px 0 0;
	}

	#songLength {
		margin: 0 0 0 10px;
	}

}













